spring.application.name=book

server.port=8080

spring.datasource.url=jdbc:h2:file:./data/books
spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

spring.h2.console.enabled=true
spring.h2.console.path=/h2-console

spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update

springdoc.swagger-ui.path=/docs
springdoc.api-docs.path=/api-docs

app.security.admin.username=admin
app.security.admin.password=

app.jwt.secret=
app.jwt.issuer=book-api
app.jwt.access-token-expiration-minutes=60